# Formatez vos secrets ici pour la production
GITHUB_TOKEN=ghp_VOTRE_TOKEN_GITHUB_ICI
TELEGRAM_BOT_TOKEN=123456789:AA_VOTRE_TOKEN_TELEGRAM_BOT
WHATSAPP_TOKEN=EAAG...VotreTokenMetaWhatsApp
WHATSAPP_PHONE_NUMBER_ID=109876543210987
GMAIL_SENDER_EMAIL=contact.arveatunisie@gmail.com
GMAIL_APP_PASSWORD=abcd efgh ijkl mnop
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycb.../exec
DATABASE_PATH=gestion_prospects/arvea_automation.db
